{%extends "base.html"%}
{%block content%}

<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.subject.label }}<br>
        {{ form.subject(class="form-control") }}<br>
        {% for error in form.subject.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control") }}<br>
        {% for error in form.content.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    <p>
        {{ form.completion_date.label }}<br>
        {{ form.completion_date(class="form-control-date", type="date") }}<br>
        {% for error in form.completion_date.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}

    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}
        <a href="/" class="btn btn-danger">Cancel</a></p>
    <div>{{ message }}</div>
</form>
{%endblock%}