{%extends "base.html"%}
{%block content%}

<p>Описание сайта</p>
<a href="/" class="btn btn-secondary">На главную</a>

<p>Навигация по сайту:<br>
1. Регистрируемся по <a href="/register">ссылке</a><br>
2. Заходим в <a href="/login">систему</a><br>
3. Можно <a href="/">просматривать</a> или <a href="/add_hw">добавлять</a> задания<br>
4. Уже созданные задания можно редактировать или удалять</p><br>

<p>Телеграм бот, в котором можно просматривать задания: @FedorBalabanov1_bot.</p><br>

<p><a href="/help/api">API</a>, с помощью которого Вы можете создавать свои приложения.</p><br>


{%endblock%}